body{
    background-color: #beb4ff;
}
h1{
    text-align: center;
    background-image: linear-gradient(#8106ec, #bb8ce6);


}

div#form{
    background-color: rgb(223, 139, 249);
    border-radius: 0.5em;

}
